.itemContainer{
    width: 100px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
}
.unclicked .foodItem{
    color: white;
}
.unclicked:hover{
    background-color: white;
}
.unclicked:hover .foodItem{
    color: black;
}
.clicked{
    background-color: white;
    opacity: .5;
}
.clicked .foodItem{
    color: black;
}
.clicked:hover{
    opacity: .8;
}
.invisible{
    opacity: 0;
}
.foodItem{
    margin: 0 auto;
}


@media screen and (max-width: 1200px) and (min-width: 700px) {
    .itemContainer{
        width: 80px;
        height: 70px;
    }
    .foodItem{
        font-size: 60px;
    }
}


@media screen and (max-width: 700px) and (min-width: 480px) {
    .itemContainer{
        width: 70px;
        height: 60px;
    }
    .foodItem{
        font-size: 50px;
    }
}

@media screen and (max-width: 480px) {
    .itemContainer{
        width: 50px;
        height: 50px;
    }
    .foodItem{
        font-size: 40px;
    }
}